button.btn-primary {
    flex: 1;
    margin: 5px 0px;
    background-color: #1976d2;
    border: none;
    color: white;
    height: 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.btn-primary:hover {
    background-color: #1565c0;
}

button.btn-primary:disabled {
    background-color: #555;
    cursor: not-allowed;
}