.display-info-card {
    width: 200px;
    height: 300px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.display-info-card:hover {
    opacity: 1;
}
