.Container {



    border: 1px solid #d0d0d0;
    margin: 0;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

.size-variant-primary {
    width: 100%;
    max-width: 380px;
    height: 80%;
}

.size-variant-secondary {
    width: 100%;
    max-width: 700px;
    height: 80%;
}