.Container {
    width: 100%;
    max-width: 480px;
    height: 76vh;
    border: 1px solid gray;
    margin: 5px;
    padding: 10px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: stretch; */
}