.Container {
    width: 100%;
    max-width: 480px;
    height: 100%;
    border: 1px solid #333;
    margin: 0;
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 8px;
    color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}