.synopsis-textfield {
    width: 100%;
    border: 1px solid gray;
    margin: 10px 0px;
    height: 30%;
    padding: 10px;

    overflow-y: auto;      /* enables vertical scrollbar */
    overflow-x: hidden;   /* prevents horizontal scrolling */
    box-sizing: border-box;
}

.manhwa-title {
    font-weight: bold;
    margin-bottom: 6px;
}

.manhwa-synopsis {
    margin: 0;
    line-height: 1.4;
    white-space: normal;      /* ensure normal text wrapping */
    word-break: break-word;   /* prevents long words from overflowing */
}
