.synopsis-textfield {
    width: 100%;
    /* maybe border only the top and bottom? */
    border: 1px solid gray;
    margin: 10px 0px;
    height: 30%;
    padding: 10px
}

.manhwa-title {
    /* some styles to manhwa title */
}

.manhwa-synopsis {
    
}