.input-group {
    border: 1px solid rgba(128, 128, 128, 0.5);
    width: 100%;
}

.input-group:focus {
    border: 1px solid blue;
}

.input-container{
    width: 100%;
}

textarea{
    resize: none;
}