.input-group {
    border: 1px solid #555;
    width: 100%;
    border-radius: 4px;
    background-color: #2a2a2a;
}

.input-group:focus {
    border: 1px solid #1976d2;
}

.input-container {
    width: 100%;
}

textarea {
    resize: none;
    background-color: #2a2a2a;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}