.input-group {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 4px;
    background-color: #fafafa;
}

.input-group:focus {
    border: 1px solid #2196F3;
}

.input-container {
    width: 100%;
}

textarea {
    resize: none;
    background-color: #fafafa;
    color: #333;
    border: none;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}