.results-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: calc(100% - 0px);
    height: 400px;
}

.results-panel > p {
    color: #757575;
    font-size: 1rem;
    text-align: center;
    padding: 2rem 1rem;
}

